@import "normalize";
@import "bourbon/bourbon";
@import "neat/neat";

body {
	font-family: $helvetica;
}

header {

	background:#298ec3;
	text-align:center;
	padding:0px;

	h1 {
		margin:0;
		padding: 20px;	
		line-height: 40px;	
		font-size:40px;
	}
	nav {
		background: green;
		ul {
			list-style: none;
			margin:0;
			li {
				@include inline-block;
				padding: 10px;
				a {
					@include button(pill);
				}
			}
		}
	}
}

section.rms-account {
  @include outer-container;
  background: yellow;
  nav { 
  	@include span-columns(3); 
  	@include pad;
  	background: red;
  }
  section { 
  	@include span-columns(9); 
  	@include omega;
  	@include pad;
  	background: blue;
  	h2 {
		margin:0;
	}


	form {
		label {
			@include inline-block;
			width:150px;
			padding:5px;
		}
		input {
			border-radius:5px;
			border:1px black solid;
		}
		.button{
			@include button(pill);
		}
	}
  }
}

section.rms-teams {
	@include outer-container;
  	background: yellow;
	section { 
	  	@include span-columns(12); 
	  	@include pad;
	  	background: blue;
	  	h2 {
			margin:0;
		}
		td,th {
			@include pad;
			border:1px solid red;
		}

  	}
	.button{
		@include button(pill);
	}
}

footer {
	height: 40px;
	background:#298ec3;
}