body {
  background-image: url('/img/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Cantarell', sans-serif;
}
header {
  text-align: center;
  vertical-align: middle;
  padding: 20px;
  height: 100px;
  line-height: 120px;
}
header img {
  display: inline-block;
  height: 88px;
  margin: 0;
  padding: 0;
}
@media (min-width: 1200px) {
  header img {
    height: 100px;
  }
}
@media (max-width: 979px) and (min-width: 768px) {
  header img {
    height: 80px;
  }
}
ul.tickets {
  position: absolute;
  top: 0;
  left: 0;
  list-style: none;
  background: rgba(30, 30, 30, 0.7);
  padding: 10px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-bottom-left-radius: 5px;
}
ul.accounts {
  position: absolute;
  top: 0;
  right: 0;
  list-style: none;
  background: rgba(30, 30, 30, 0.7);
  padding: 10px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-bottom-left-radius: 5px;
}
ul.accounts li {
  display: inline;
}
h1 {
  display: inline-block;
  font-family: 'Cantarell', sans-serif;
  font-weight: bolder;
  font-style: italic;
  color: #ffffff;
  margin: 0;
  padding: 0;
  font-size: 68px;
}
@media (min-width: 1200px) {
  h1 {
    font-size: 80px;
  }
}
@media (max-width: 979px) and (min-width: 768px) {
  h1 {
    font-size: 60px;
  }
}
h2 {
  font-family: 'Cantarell', sans-serif;
  font-weight: bolder;
  font-style: italic;
  color: #7FBC5F;
  font-size: 24px;
  margin-bottom: 0px;
}
@media (min-width: 1200px) {
  h2 {
    font-size: 28px;
  }
}
@media (max-width: 979px) and (min-width: 768px) {
  h2 {
    font-size: 18px;
  }
}
#main-menu {
  background: rgba(30, 30, 30, 0.7);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  font-family: 'Cantarell', sans-serif;
  font-weight: bolder;
  font-style: italic;
  font-size: 16px;
}
@media (min-width: 1200px) {
  #main-menu {
    font-size: 16px;
  }
}
@media (max-width: 979px) and (min-width: 768px) {
  #main-menu {
    font-size: 12px;
  }
}
#main-menu ul {
  margin-bottom: 0;
}
#main-menu li {
  text-align: center;
  width: 14%;
}
#main-menu li:first-child {
  margin-left: 1%;
}
#main-menu li:last-child {
  margin-right: 1%;
}
#main-menu li a {
  padding: 8px 0;
}
#main-title {
  margin-top: 20px;
  text-align: center;
  color: #ffffff;
}
#main-content {
  background: rgba(30, 30, 30, 0.7);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: #ffffff;
}
#main-content h3,
#main-content h4 {
  padding-left: 20px;
}
#main-content p {
  padding: 20px 20px 0px 20px;
}
#main-content ul {
  padding: 0px 20px 0px 20px;
}
#faq-list {
  font-size: 12px;
}
footer {
  color: #ffffff;
  padding: 10px;
  text-align: center;
}
#sponsors {
  background: rgba(30, 30, 30, 0.7);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: #ffffff;
  padding-bottom: 10px;
  text-align: center;
}
#sponsors img {
  padding: 10px;
  width: 120px;
}
@media (min-width: 1200px) {
  #sponsors img {
    width: 140px;
  }
}
@media (max-width: 979px) and (min-width: 768px) {
  #sponsors img {
    width: 84px;
  }
}
