/* normalize.css 2011-11-04T15:36 UTC - http://github.com/necolas/normalize.css */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block; }

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

audio:not([controls]) {
  display: none; }

[hidden] {
  display: none; }

html {
  font-size: 100%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  margin: 0; }

body,
button,
input,
select,
textarea {
  font-family: sans-serif; }

a:focus {
  outline: thin dotted; }

a:hover,
a:active {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

blockquote {
  margin: 1em 40px; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

pre,
code,
kbd,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: none; }

q:before,
q:after {
  content: '';
  content: none; }

small {
  font-size: 75%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

ul,
ol {
  margin-left: 0;
  padding: 0 0 0 40px; }

dd {
  margin: 0 0 0 40px; }

nav ul,
nav ol {
  list-style: none;
  list-style-image: none; }

img {
  border: 0;
  -ms-interpolation-mode: bicubic; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

form {
  margin: 0; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  *margin-left: -7px; }

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle; }

button,
input {
  line-height: normal; }

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

header {
  background: #298ec3;
  text-align: center;
  padding: 0px; }
  header h1 {
    margin: 0;
    padding: 20px;
    line-height: 40px;
    font-size: 40px; }
  header nav {
    background: green; }
    header nav ul {
      list-style: none;
      margin: 0; }
      header nav ul li {
        display: inline-block;
        vertical-align: baseline;
        zoom: 1;
        *display: inline;
        *vertical-align: auto;
        padding: 10px; }
        header nav ul li a {
          border: 1px solid #3371b2;
          border-color: #3371b2 #2457a3 #164297;
          border-radius: 16px;
          -webkit-box-shadow: inset 0 1px 0 0 #64a9f2, 0 1px 2px 0 #b3b3b3;
          box-shadow: inset 0 1px 0 0 #64a9f2, 0 1px 2px 0 #b3b3b3;
          color: white;
          display: inline-block;
          font-size: 11px;
          font-weight: normal;
          line-height: 1;
          background-color: #4294f0;
          background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4294f0), color-stop(100%, #0156fe));
          background-image: -webkit-linear-gradient(top, #4294f0, #0156fe);
          background-image: -moz-linear-gradient(top, #4294f0, #0156fe);
          background-image: -ms-linear-gradient(top, #4294f0, #0156fe);
          background-image: -o-linear-gradient(top, #4294f0, #0156fe);
          background-image: linear-gradient(top, #4294f0, #0156fe);
          padding: 5px 16px;
          text-align: center;
          text-decoration: none;
          text-shadow: 0 -1px 1px #2762bf;
          -webkit-background-clip: padding-box; }
          header nav ul li a:hover:not(:disabled) {
            border: 1px solid #2062a7;
            border-color: #2062a7 #0e479a #01318e;
            -webkit-box-shadow: inset 0 1px 0 0 #519cf0;
            box-shadow: inset 0 1px 0 0 #519cf0;
            cursor: pointer;
            background-color: #2d88ee;
            background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2d88ee), color-stop(100%, #1554ce));
            background-image: -webkit-linear-gradient(top, #2d88ee, #1554ce);
            background-image: -moz-linear-gradient(top, #2d88ee, #1554ce);
            background-image: -ms-linear-gradient(top, #2d88ee, #1554ce);
            background-image: -o-linear-gradient(top, #2d88ee, #1554ce);
            background-image: linear-gradient(top, #2d88ee, #1554ce);
            text-shadow: 0 -1px 1px #134faf;
            -webkit-background-clip: padding-box; }
          header nav ul li a:active:not(:disabled) {
            background: #226edd;
            border: 1px solid #0d3c8c;
            border-bottom: 1px solid #062d8d;
            -webkit-box-shadow: inset 0 0 6px 3px #0c44b8, 0 1px 0 0 white;
            box-shadow: inset 0 0 6px 3px #0c44b8, 0 1px 0 0 white;
            text-shadow: 0 -1px 1px #1a52aa; }
          header nav ul li a:disabled {
            opacity: 0.5;
            cursor: not-allowed; }

section.rms-account {
  *zoom: 1;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  background: yellow; }
  section.rms-account:before, section.rms-account:after {
    content: " ";
    display: table; }
  section.rms-account:after {
    clear: both; }
  section.rms-account nav {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 23.23176%;
    padding: 2.35765%;
    background: red; }
    section.rms-account nav:last-child {
      margin-right: 0; }
  section.rms-account section {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 74.41059%;
    margin-right: 0;
    padding: 2.35765%;
    background: blue; }
    section.rms-account section:last-child {
      margin-right: 0; }
    section.rms-account section h2 {
      margin: 0; }

section.rms-teams {
  *zoom: 1;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  background: yellow; }
  section.rms-teams:before, section.rms-teams:after {
    content: " ";
    display: table; }
  section.rms-teams:after {
    clear: both; }
  section.rms-teams section {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 100%;
    padding: 2.35765%;
    background: blue; }
    section.rms-teams section:last-child {
      margin-right: 0; }
    section.rms-teams section h2 {
      margin: 0; }
  section.rms-teams .button {
    border: 1px solid #3371b2;
    border-color: #3371b2 #2457a3 #164297;
    border-radius: 16px;
    -webkit-box-shadow: inset 0 1px 0 0 #64a9f2, 0 1px 2px 0 #b3b3b3;
    box-shadow: inset 0 1px 0 0 #64a9f2, 0 1px 2px 0 #b3b3b3;
    color: white;
    display: inline-block;
    font-size: 11px;
    font-weight: normal;
    line-height: 1;
    background-color: #4294f0;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4294f0), color-stop(100%, #0156fe));
    background-image: -webkit-linear-gradient(top, #4294f0, #0156fe);
    background-image: -moz-linear-gradient(top, #4294f0, #0156fe);
    background-image: -ms-linear-gradient(top, #4294f0, #0156fe);
    background-image: -o-linear-gradient(top, #4294f0, #0156fe);
    background-image: linear-gradient(top, #4294f0, #0156fe);
    padding: 5px 16px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 -1px 1px #2762bf;
    -webkit-background-clip: padding-box; }
    section.rms-teams .button:hover:not(:disabled) {
      border: 1px solid #2062a7;
      border-color: #2062a7 #0e479a #01318e;
      -webkit-box-shadow: inset 0 1px 0 0 #519cf0;
      box-shadow: inset 0 1px 0 0 #519cf0;
      cursor: pointer;
      background-color: #2d88ee;
      background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2d88ee), color-stop(100%, #1554ce));
      background-image: -webkit-linear-gradient(top, #2d88ee, #1554ce);
      background-image: -moz-linear-gradient(top, #2d88ee, #1554ce);
      background-image: -ms-linear-gradient(top, #2d88ee, #1554ce);
      background-image: -o-linear-gradient(top, #2d88ee, #1554ce);
      background-image: linear-gradient(top, #2d88ee, #1554ce);
      text-shadow: 0 -1px 1px #134faf;
      -webkit-background-clip: padding-box; }
    section.rms-teams .button:active:not(:disabled) {
      background: #226edd;
      border: 1px solid #0d3c8c;
      border-bottom: 1px solid #062d8d;
      -webkit-box-shadow: inset 0 0 6px 3px #0c44b8, 0 1px 0 0 white;
      box-shadow: inset 0 0 6px 3px #0c44b8, 0 1px 0 0 white;
      text-shadow: 0 -1px 1px #1a52aa; }
    section.rms-teams .button:disabled {
      opacity: 0.5;
      cursor: not-allowed; }

footer {
  height: 40px;
  background: #298ec3; }
